<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">تماس با ما</div>
        <div class="right">
           <ons-toolbar-button ng-click="go('/branch')" modifier="material"><ons-icon icon="fa-cutlery"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button ng-click="go('/cart')" modifier="material"><span class="back_txt rubberBand">{{ basket_size }}</span><ons-icon icon="ion-android-cart"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-page class="setting">
        <div class="contain">
            <h3> تماس با دمپخت </h3>
            <p> کاربر گرامی، لطفاً در صورت وجود هرگونه سوال یا ابهامی، پیش از ارسال ایمیل یا تماس تلفنی با دمپخت بخش پرسش‏های متداول را ملاحظه فرمایید و در صورتی که پاسخ خود را نیافتید، با ما تماس بگیرید.</p>
            <p> در صورت وجود مشکل در سفارش ها یا پرداخت ها از بخش پشتیبانی در پنل کاربری اقدام کنید.</p>

            <div class="address_icon">
                <a href=""><p><i class="ion-email"></i>   پست الکترونیکی : </p> <p> {{contact_info[0].email1}} </p><p> {{contact_info[0].email2}}  </p> </a>
                <a href=""><p><i class="ion-ios-telephone"></i>  شماره های تماس : </p>
                <p> {{contact_info[0].tell1}} </p><p> {{contact_info[0].tell2}} </p> <p>  {{contact_info[0].tell3}}</p>  </a>
                <a href=""><p><i class="fa fa-location-arrow"></i> آدرس : </p><p>{{contact_info[0].address}} </p> </a>
            </div>
        </div>


        <ons-list modifier="material" style="margin-top: 10px; margin: 0;padding: 0 20px; box-sizing: border-box;">
            <ons-list-item>
                <ons-input type="text" id="name" class="w100 d-b"  placeholder="نام شما" float></ons-input>
            </ons-list-item>
             <ons-list-item>
                <ons-input type="email" id="phone_or_email" class="w100 d-b"  placeholder="ایمیل" float></ons-input>
            </ons-list-item>
            <ons-list-item>
                <ons-input type="number" id="phone" class="w100 d-b" placeholder="شماره تماس (اختیاری)" float></ons-input>
            </ons-list-item>

            <ons-list-item>
                <ons-input type="text" id="title" class="w100 d-b" placeholder="عنوان" float></ons-input>
            </ons-list-item>

            <ons-list-item>
                <div class="input-field w100 d-b" >
                    <textarea id="text"  class="materialize-textarea" ></textarea>
                    <label for="textarea1">متن پیام</label>
                </div>
            </ons-list-item>
        </ons-list>

        <div style="padding: 20px 20px"><ons-button ng-click="submit()" modifier="large" style="margin: 0 auto;">ارسال</ons-button></div>
    </ons-page>
</ons-template>
<style>
.setting .list__item{
    padding: 0px !important
}
</style>