<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">ثبت امتیاز و نظر</div>
        <div class="right">
            <ons-toolbar-button modifier="material"><ons-icon icon="ion-android-sync"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button modifier="material"><ons-icon icon="md-search"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <ons-page>
        <ons-list>
            <div class="container comment">
                <p class="comment-desc">
                    شما می توانید نظر و رای خود را نسبت به این غذا بیان کنید 
                </p>  
                <div class="rating-cm" rate="{{rate}}"><span class="fa fa-star-o" ng-click="rate_f(5)"></span><span class="fa fa-star-o"  ng-click="rate_f(4)"></span><span class="fa fa-star-o"  ng-click="rate_f(3)"></span><span class="fa fa-star-o"  ng-click="rate_f(2)"></span><span class="fa fa-star-o"  ng-click="rate_f(1)"></span></div>
               <div class="comment-text"><textarea id="comment_new" class="textarea textarea--transparent" placeholder="نظر خود را در مورد این غذا بیان کنید" ></textarea></div>
             
                <div style="padding: 10px 9px">
                        <ons-button modifier="material" ng-click="submit()" style="margin: 0 auto;">
                            ثبت نظر 
                        </ons-button>
                    </div>
            </div>

        </ons-list>
    </ons-page>
</ons-template>


<ons-template id="login.html">
        <ons-dialog var="dialog" cancelable>
            <ons-toolbar inline>
                <div class="center">ابتدا به حساب کاربری خود وارد شوید</div>
            </ons-toolbar>
            <quick-login>
                <label class="label_inp"><input ng-model="username" placeholder="ایمیل یا شماره همراه" id="username" class="text-input text-input--transparent"></label>
                <label class="label_inp"><input ng-model="password"  placeholder="کلمه عبور" type="password"  id="username" class="text-input text-input--transparent"></label>
                <label class="label_inp"><ons-button modifier="large" ng-click="submit();">ورود</ons-button></label>
                <p class="create_acc" ng-click="go('/register')"> عضویت در دمپخت</p>
            </quick-login>
        </ons-dialog>
    </ons-template>
</div>
<style>
.page__content {
    padding-top: 0 !important; 
}
ons-dialog:not([modifier='material']) p {
  margin-left: 10px;
  margin-right: 10px;
}

input {
  width: 100%;
}
 .comment .page__content{
    padding-top: 54px !important;
 }
</style>