<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
       <div class="center">ویرایش آدرس</div>
        <div class="right">
         <mapedit-dir >
              <ons-toolbar-button ng-click="go('/myprofile/address')" modifier="material"><ons-icon icon="ion-arrow-left-c"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-page>
        <p class="address_p">  ابتدا شعبه را انتخاب کنید سپس مکان خود را روی نقشه انتخاب کنید ، توجه داشته باشید که مکان شما باید در محدوده مشخص شده شعبه باشد برای این کار می توانید از دکمه مکان یاب یا جستجوی نقشه استفاده کنید.   </p>	  
        <div class="map_block">
            <section id="place-on-map"> 
                <!--=================  ======================--->
                <select style="height: 50px;" class="width-full rtl add_branch">
                    <option ng-selected="branch_now == option_1.id" ng-repeat="option_1 in branches" value="{{option_1.id}}">{{option_1.city}} - {{option_1.name}}</option>
                </select>
                <!--==================  =====================--->
                            <header class="section-title">
                                <h2>مکان خود را بر روی نقشه مشخص کنید</h2>
                            </header>
                             <div class="input-field col s12" >
                                 <input  type="text" class="validate" style="border-bottom:1px solid #ddd;" id="address_type" placeholder="">
                                 <label for="address_type" >محدوده ی شما</label>
                            </div>                                     
                            <div class="lucent">
                                <p class="note">محدوده خود را جستجو کنید</p>
                            </div>
                            <!-- /.form-group -->

                            <div class="show_gmap">
                                <div id="submit-map" lat="29.36" long="52.33" class="googleMapedit" style="height:300px"></div>
                                <div class="now_me"></div>
                            </div>
                            <div class="lucent">
                                <p class="note">می توانید با جا به جا کردن پوینتر مکان خود را تغییر دهید .</p>
                            </div>
                            <div style="display:none" class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                                    </div>
                                    <!-- /.form-group --> 
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                                    </div>
                                    <!-- /.form-group --> 
                                </div>
                            </div>
                        </section>        
                    </div>
                <div class="map_block"> <div class="vspc form-row"><ons-button ng-click="submit_map()" style="width:100%" modifier="material">ویرایش آدرس </ons-button> </div> </div>
                <br><br>
       </mapedit-dir>      
    </ons-page>
</ons-template>