<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">افزودن آدرس</div>
        <div class="right">
              <ons-toolbar-button ng-click="go('/myprofile/address')" modifier="material"><ons-icon icon="ion-arrow-left-c"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

        <ons-page>
            <ons-tabbar>
                <ons-tab label="گرفتن از نقشه" page="tab2.html" ></ons-tab>
                <ons-tab label="نوشتن آدرس" page="tab1.html" active></ons-tab>
            </ons-tabbar>

            <ons-template id="tab1.html">
                <ons-page>
                    <div class="formarea newaddress">
                      <div class="form-row">
                          <select ng-model="address_info.branch"  ng-change="changeArea(address_info.branch)" style="height: 50px;" class="width-full rtl add_branch">
                              <option value="">شعبه را انتخاب کنید</option>
                              <option ng-repeat="option in branches_a" value="{{option.id}}">{{option.city}} - {{option.name}}</option>
                          </select>
                        </div>
                        <div class="form-row">   
                              <select  style="height: 50px;" ng-model="address_info.area" class="width-full rtl">
                                <option value="">محدوده را انتخاب کنید</option>
                                <option ng-repeat="option in address_info.branch_area" value="{{option.id}}">{{option.area}}</option>
                             </select>
                          </div>               
                         <div class="form-row">
                             <div class="input-field col s12">
                                 <textarea id="textarea1" ng-model="address_info.address1" class="textarea textarea--transparent rtl" placeholder="" style="width: 100%; height: 100px ;padding: 5px;border-bottom:1px solid #ddd;margin-top:5px"></textarea>
                                 <label for="textarea1">آدرس</label>
                             </div>
                        </div>      
                        <div class="form-row" style="margin-top:20px;"> <ons-input  id="code_posti" modifier="underbar" type="text"  class="width-full rtl"  placeholder="کد پستی (اختیاری)" float></ons-input> </div>
                        <div class="vspc form-row"><ons-button ng-click="submit_add1()" modifier="material">افزودن آدرس جدید</ons-button></div>
                    </div>
                </ons-page>
            </ons-template>

            <ons-template id="tab2.html">
                <p class="address_p">  ابتدا شعبه را انتخاب کنید سپس مکان خود را روی نقشه انتخاب کنید ، توجه داشته باشید که مکان شما باید در محدوده مشخص شده شعبه باشد برای این کار می توانید از دکمه مکان یاب یا جستجوی نقشه استفاده کنید.  </p>	  
                <div class="map_block">
                        <section id="place-on-map"> 
                            <!--=================  ======================--->
                            <select style="height: 50px;" class="width-full rtl add_branch">
                                <option value="">شعبه را انتخاب کنید</option>
                                <option ng-repeat="option_1 in branches" value="{{option_1.id}}">{{option_1.city}} - {{option_1.name}}</option>
                            </select>
                            <!--==================  =====================--->
                            <header class="section-title">
                                <h2>مکان خود را بر روی نقشه مشخص کنید</h2>
                            </header>
                             <div class="input-field col s12" >
                                 <input  type="text" class="validate" style="border-bottom:1px solid #ddd;" id="address_type" placeholder="">
                                 <label for="address_type" >محدوده ی شما</label>
                            </div>                                     
                            <div class="lucent">
                                <p class="note">محدوده خود را جستجو کنید</p>
                            </div>
                            <!-- /.form-group -->

                            <div class="show_gmap">
                                <div id="submit-map" lat="29.36" long="52.33" class="googleMap" style="height:300px"></div>
                                <div class="now_me"></div>
                            </div>
                            <div class="lucent">
                                <p class="note">می توانید با جا به جا کردن پوینتر مکان خود را تغییر دهید .</p>
                            </div>
                            <div style="display:none" class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                                    </div>
                                    <!-- /.form-group --> 
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                                    </div>
                                    <!-- /.form-group --> 
                                </div>
                            </div>
                        </section>
                        <!-- /#place-on-map -->
                        
                    </div>

                <div class="map_block"> <div class="vspc form-row"><ons-button ng-click="submit_map()" style="width:100%" modifier="material">افزودن آدرس جدید</ons-button> </div> </div>
                <br><br>
            </ons-template>
    </ons-page>
</ons-template>