<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">ارسال درخواست جدید </div>
        <div class="right">
            <ons-toolbar-button ng-click="go('/myprofile/support')" modifier="material"><ons-icon icon="ion-arrow-left-c"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-page>
        <div class="container support ">
            <form class="tiket_ew_form">
                <div class="input-field col s12">
                    <input type="text" id="subject" class="materialize-input"/>
                    <label for="subject">عنوان درخواست</label>
                </div>
                <label>
                    <select id="unit_choose">
                        <option value="" >انتخاب بخش</option>
                        <option ng-repeat="unit in units"  value="{{ unit.id }}" >{{ unit.name }}</option>
                    </select>
                </label>

                <label>
                    <select id="priority">
                        <option value="" > اولویت</option>
                        <option value="0">کم</option>
                        <option value="1">متوسط</option>
                        <option value="2">زیاد</option>
                    </select>
                </label>
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" rows="10"></textarea>
                    <label for="message">درخواست خود را اینجا بنویسید</label>
                </div>
                 <ons-button ng-click="submit()"  modifier="large" style="margin-top:20px;">ارسال درخواست</ons-button>
            </form>
        </div>
    </ons-page>
</ons-template>
<style>
.input-field textarea{margin-top: 10px !important;height: 100px !important}
</style>