<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">آدرس ها</div>
        <div class="right">
            <ons-toolbar-button ng-click="go('/myprofile')" modifier="material"><ons-icon icon="ion-arrow-left-c"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-page class="address">
        <ons-list-header class="rtl"> آرشیو آدرس ها </ons-list-header>
        <ons-row class="inbox-li" ng-repeat="address in addressses">
                <!--=================================================-->
            <ons-col class="address_n">{{address.address}}</ons-col>
            <ons-col ng-click="delete_address(address.id)" class="address_icon" width="40px"><ons-icon icon="ion-android-close" size="25px"></ons-icon></ons-col>
            <ons-col ng-if="address.type == 1" ng-click="go('/edit_address/'+address.id+'/'+address.type)" class="address_icon" width="40px"><ons-icon icon="ion-edit"  size="25px"></ons-icon></ons-col>
            <ons-col ng-if="address.type == 2" ng-click="go('/edit_address_map/'+address.id+'/'+address.type)" class="address_icon" width="40px"><ons-icon icon="ion-edit"  size="25px"></ons-icon></ons-col>

        </ons-row>
                <!--=================================================-->

        <ons-button modifier="material" ng-click="go('/myprofile/new_address')"><ons-icon icon="fa-location-arrow" size="20px"></ons-icon> آدرس جدید اضافه کنید </ons-button>
    </ons-page>
</ons-template>

<style>
.address_icon{
    line-height: 51px;
    height: 40px;
    text-align: center;
}
.address_icon ons-icon[icon="ion-android-close"]{
    color:#af0f0f;
}
.address_icon ons-icon[icon="ion-edit"]{
    color:#59af0f;
}
</style>