<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu" swipeable="true"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<favourite-dir>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">لیست علاقه مندی ها</div> 
        <div class="right">
            <ons-toolbar-button ng-click="go('/cart')" modifier="material"><span class="back_txt rubberBand">{{ basket_size }}</span><ons-icon icon="ion-android-cart"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button ng-click="go('/myprofile')" modifier="material"><ons-icon icon="ion-arrow-left-c"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-page >
        <ons-list>
            <div id="not_branch" ng-if="branches.length == 0">
               <p><i class="ion-ios-heart-outline"></i>
                لیست علاقه مند های شما خالی است. 
               </p>       
           </div> 
            <div class="favurite pt10" ng-repeat="branch in branches">
               <!--=============================================================-->
                    <ons-list-header  class="rtl f18 p10 fav-head"> {{branch.name}}</ons-list-header>
                    <ons-carousel class="m15 cursol-fav" initial-index="0" swipeable overscrollable  auto-scroll  ng-repeat="wish in wishes | filter:{ branch_id : branch.id } : true ">
                        <ons-carousel-item>
                           <div class="list-item-container br-green" >
                                <ons-row>
                                    <ons-col width="95px"><img ng-src="{{base_img + wish.picname}}" class="thumbnail"></ons-col>


                                    <ons-col>
                                        <div class="name">{{wish.name}}</div>
                                        <div class="location">
                                            <div class="rating" rate="{{wish.rate  | number: 0}}"><span class="fa fa-star-o"></span><span  class="fa fa-star-o"></span><span  class="fa fa-star-o"></span><span  class="fa fa-star-o"></span><span  class="fa fa-star-o"></span></div>
                                        </div>
                                        <div class="desc">{{wish.price | currency : '' : 0  }}  تومان </div>
                                    </ons-col>
                                    <ons-col ng-if="wish.supply == '1'" ng-click="add_to_card(wish.id,wish.branch_id,wish.picname,wish.price,wish.name,branch.name)"   width="40px"><ons-icon icon="ion-android-cart"></ons-icon></ons-col>
                                     <ons-col ng-if="wish.supply == '0'"  width="50px"><ons-icon  ng-click="not_available()"  icon="ion-android-alert"></ons-icon></ons-col>
                                </ons-row>
                            </div>
                        </ons-carousel-item>
                        <ons-carousel-item>
                           <div ng-click="remove(wish.id,wish.branch_id)" class="remove_item"> <p><i class="fa fa-trash" aria-hidden="true"></i> برای حذف کلیک کنید</p></div>
                           
                        </ons-carousel-item>
                    </ons-carousel>                
                <!--=============================================================-->
            </div>
            <div id="mainList"></div>
        </ons-list>
    </ons-page>
</ons-template>
</favourite-dir>

<style>
.fav-head{
    margin-top: 10px;
    background-color: #F3F2F2;
    min-height: 30px;
    line-height: 30px;
}
</style>