<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu" swipeable="true"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div  ng-click="menu.toggleMenu()" class="left">
            <ons-toolbar-button  modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">خانه</div>
        <div class="right navigation-bar__right navigation-bar--material__right">
            <ons-toolbar-button ng-click="go('/branch')" modifier="material"><ons-icon icon="fa-cutlery"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button ng-click="go('/cart')" modifier="material"><span class="back_txt rubberBand">{{ basket_size }}</span><ons-icon icon="ion-android-cart"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="home">
        <!--<owl-slider>
            <div class="owl-carousel_one">
                <div class="item"><div class="slider_item"><img ng-src="img/test/f1.jpg"><h3>دمپخت من</h3><p>بهترین های ما</p></div></div>
                <div class="item"><div class="slider_item"><img ng-src="img/test/f2.jpg"><h3>دمپخت من</h3><p>بهترین های ما</p></div></div>
                <div class="item"><div class="slider_item"><img ng-src="img/test/f3.jpg"><h3>دمپخت من</h3><p>بهترین های ما</p></div></div>
                <div class="item"><div class="slider_item"><img ng-src="img/test/f1.jpg"><h3>دمپخت من</h3><p>بهترین های ما</p></div></div>
            </div>
        </owl-slider>
-->
        <ons-carousel class="home_c" swipeable overscrollable auto-scroll item-width="100%">
            <ons-carousel-item ng-repeat="i in [1,2,3]">
                <div class="slider_item"><img ng-src="img/test/f{{i}}.jpg"><h3>دمپخت من</h3><p>بهترین های ما</p></div>
            </ons-carousel-item>
        </ons-carousel>
    </div>
  <home-dir>      
        <!---=========list============-->
      <ons-list class="home_list tp">
          <ons-list-item  class="list-item-container" ng-click="go('/branch')" >
              <div class="list-item-left"><i class="fa fa-cutlery icon_list"></i></div>
              <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="desc2">سفارش غذا</div>
                        <span class="desc">انتخاب شعبه و سفارش غذا</span>
                    </div>
                </div>
            </ons-list-item>
            <ons-list-item  class="list-item-container" ng-if="login" ng-click="go('/myprofile/')" >
                <div class="list-item-left"><i class="ion-person icon_list"></i></div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <span class="desc2">پنل کاربری</span>
                        <span class="desc"> نمایش سفارش ها ، ویرایش آدرس ها و ... </span>
                    </div>
                </div>
            </ons-list-item>

              <ons-list-item  ng-if="!login" class="list-item-container" ng-click="go('/login')" >
                <div class="list-item-left"><i class="ion-ios-undo icon_list"></i></div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <span class="desc2">ورود </span>
                        <span class="desc">ورود به حساب کاربری دمپخت </span>
                    </div>
                </div>
            </ons-list-item>

              <ons-list-item  ng-if="!login" class="list-item-container" ng-click="go('/register')" >
                <div class="list-item-left">
                   <i class="ion-ios-personadd icon_list"></i>
                </div>
                <div class="list-item-right">
                    <div class="list-item-content">
                        <div class="desc2">عضویت</div>
                        <span class="desc"> عضویت در دمپخت</span>
                    </div>
                </div>
            </ons-list-item>
        </ons-list>
        <!--=======================================================--->
      <ons-list-header style="direcrion:rtl" class="tp"> بهترین های دمپخت </ons-list-header>
      <ons-carousel class="owl_carousel_two" swipeable overscrollable auto-scroll item-width="50%">
            <ons-carousel-item item-width="50%" ng-repeat="special in specials" >
                <div class="item" ng-repeat="special in specials" ng-click="go('/branch')">
                    <div class="slider_item"><img ng-src="{{base_img + special.picname}}"><h3>{{special.name}}</h3></div>
                </div>
          </ons-carousel-item>
      </ons-carousel>
      <!--<div class="owl-carousel_two">
          <div class="item" ng-repeat="special in specials" ng-click="go('/branch')">
              <div class="slider_item">
                  <img ng-src="{{base_img + special.picname}}">
                  <h3>{{special.name}}</h3>
              </div>
          </div>
      </div>
-->
 </home-dir>   
</ons-template>