<ons-sliding-menu  main-page="page1.html" menu-page="menu.html" side="right" max-slide-distance="250px" var="menu"></ons-sliding-menu>
<ons-template id="menu.html" ><dir-link></dir-link></ons-template>
<ons-template id="page1.html">
    <ons-toolbar modifier="material" class="inbox-interface">
        <div class="left">
            <ons-toolbar-button  ng-click="menu.toggleMenu()" modifier="material"><ons-icon icon="md-menu"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">خانه</div>
        <div class="right">
            <ons-toolbar-button modifier="material"><ons-icon icon="ion-android-sync"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button modifier="material"><ons-icon icon="md-search"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-page>
        <!---=================================================================================--->
        <div class="page__content ons-page-inner more" style="directon:ltr">
            <div class="more_pic">
                <img src="img/test/restaurant.jpeg">
                <h3> مجموعه دمپخت </h3>
                <p> بهترین ها در خدمت شما </p>
            </div>
            <!--=======================================================================================--->
            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item modifier="chevron"><a href="#/myprofile"><ons-icon icon="ion-ios-speedometer" size="22px"></ons-icon> پروفایل من </a></ons-list-item> 
                <ons-list-item modifier="chevron" ng-click="prompt()"><ons-icon icon="ion-ios-cloud-upload-outline"  size="22px"></ons-icon> ارسال دمپخت به دوستان </ons-list-item> 
                <ons-list-item modifier="chevron"><a href="#/cooperation"><ons-icon icon="ion-ios-people" size="22px"></ons-icon> همکاری با دمپخت </a></ons-list-item> 
                <ons-list-item modifier="chevron"><a href="#/contact"><ons-icon icon="ion-ios-telephone-outline" size="22px"></ons-icon> تماس با دمپخت </a></ons-list-item> 
                <ons-list-item modifier="chevron"><a href="#/about"><ons-icon icon="ion-ios-mic-outline" size="22px"></ons-icon> در باره ی دمپخت </a></ons-list-item> 
                <ons-list-item modifier="chevron"><a href="#/law"><ons-icon icon="ion-ios-paper-outline" size="22px"></ons-icon> شرایط استفاده </a></ons-list-item> 
                <ons-list-item modifier="chevron"><a href="#/exit"><ons-icon icon="ion-power" size="22px"></ons-icon> خروج از حساب کاربری </a></ons-list-item> 
            </ons-list>
            <!--=======================================================================================--->
        </div>
    </ons-page>
</ons-template>